# Dependency Directory
node_modules

# Environment Variable Settings
.env

# Logs
*.log
logs

# Parse Dashboard Configuration
parse-dashboard-config.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Test Javascript SDK
test.js

