/* Variables */
$neonblue: #67C8FF;
$neonpink: #FF6EC7;
$neongreen: #83F52C;
$neonpurple: #c32aff;
$neonred: #DD0048;


.browse{
    
    width: 100%;
    padding: 0;

    .title{
        font-family: artely;
        color: #DD0048;
        font-size: 4em;
        margin-top: 0.4em;
        margin-left: 5%;
        text-align: left;
        width: 100%;
    }

    .subtitle{
        font-family: 'Open Sans', sans-serif;
        font-size: 8em;
        text-align: center;
        color: black;
    }

    .sidebar{
        width: 0%;
        float: left;
        text-align: left;
        margin-left: 5%;
        font-size: 2em;
        line-height: 2em;
    }

    .category{
        font-family: 'Open Sans', sans-serif;
    }

    .category:hover{
        color:grey;
        cursor: pointer;
    }

    .product_page{
        // margin-top: 10em;
    }
    
}

