/* Variables */
$neonblue: #67C8FF;
$neonpink: #FF6EC7;
$neongreen: #83F52C;
$neonpurple: #c32aff;
$neonred: #DD0048;

/* Styles */
html, body
{
    height: 100%;
    width:100%;
    margin:0;
    padding:0;
}

.title{
	font-family: artely;
	color: #DD0048;
	font-size: 7em;
	margin-top: 0.1em;
	text-align: center;
}

.title_ref{
	text-decoration: none;
}

.subtitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: center;
}

.slides{
    position:relative;
    margin:auto;
    margin-top: 4%;
    margin-right: 25%;
    margin-left: 25%;
    height: 40%;

    img {
	    width: 100%;
	    height: 25em;
	}

	.signup_but {
		background-color: $neonred;
		color: white;
		position: absolute;
		left: 30%;
		top: 5em;
		text-align: center;
		font-family: artely;
		font-size: 2.5em;
		width: 15%;
		height: 50px;
	}

	.signup_but:hover{
		background-color: #88002B;
		cursor: pointer;
	}

	.login_but {
		background-color: #69DF00;
		color: white;
		position: absolute;
		right: 30%;
		top: 5em;
		text-align: center;
		font-family: artely;
		font-size: 2.5em;
		width: 15%;
		height: 50px;

	}

	.login_but:hover{
		background-color: #418900;
		cursor: pointer;
	}
}

.nav {
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 2%;
	display: flex;
  	justify-content: space-between;

  	a {
	    font-family: 'Open Sans', sans-serif;
	    font-size: 200%;
	    text-decoration: none;
	    color: black;

	}

	a:hover {
		cursor: pointer;
		color: grey;
	}
}

.waitlist {
    margin-left: 25%;
    font-family: 'Open Sans', sans-serif;
    height: 15em;
    margin-right: 25%;
    margin-top: 5%;
    text-align: center;

    p {
    	color: #DD0048;
	}
	img {
    	width: 50px;
    	height: 50px;
	}
}

input[type=text] {
    margin-top:30px;
    border: none;
    border-bottom: 2px solid black;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
    font-size: 110%;
}

.info {
    margin-right: 25%;
    margin-left: 25%;

    img {
	    position:relative;
	    display: inline-block;
	    width: 32%;
	    height: 300px;
	}
	img:hover {
	    opacity: 0.7;
	}
	p {
	    position:relative;
	    display: inline-block;
	    width: 32%;
	    height: 100px;
	    font-family: 'Open Sans', sans-serif;
	    b {
		    font-weight: 1000%
		}
	}
}

.footer {
    margin-top: 10em;
    margin-right: 25%;
    margin-left: 25%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;

    p {
	    font-family: 'Open Sans', sans-serif;
	    font-size: 70%;
	}
	p:hover {
	    cursor: pointer;
	    color:grey;
	}
}

@font-face {
    font-family: artely;
    src: url("fonts/artely.ttf") format("opentype");
}
