
$SourceSansPro : 'Source Sans Pro', sans-serif;
$Lato          : 'Lato'           , sans-serif;
$Raleway       : 'Raleway'        , sans-serif;
$Dosis         : 'Dosis'          , sans-serif;
$Abel          : 'Abel'           , sans-serif;
$Harmattan     : 'Harmattan'      , sans-serif;
$Futura        : 'Futura'         , sans-serif;
// $Buffalo       : 'Buffalo'        , sans-serif;
// $Adam          : 'Adam'           , sans-serif;
// $HelveticaNeue : 'HelveticaNeue'  , sans-serif;
// $IndieFlower   : 'Indie Flower'   , cursive;
// $AmaticSC      : 'Amatic SC'      , cursive;
$Pacifico      : 'Pacifico'       , cursive;
// $Yellowtail    : 'Yellowtail'     , cursive;
// $HoneyScript   : 'HoneyScript'    , cursive;
// $Khadija       : 'Khadija'        , cursive;
// $BuffaloScript : 'BuffaloScript'  , cursive;
// $TheWoodlands  : 'TheWoodlands'   , cursive;
// $LaBelleAurore : 'LaBelleAurore'  , cursive;
// $WisdomScript  : 'WisdomScript'   , cursive;
// $LeckerliOne   : 'Leckerli One'   , cursive;

/* Mans Greback Fonts */
// $Actonia            : 'Actonia'           , cursive;
// $ActoniaHand        : 'ActoniaHand'       , cursive;
// $AveFedan           : 'AveFedan'          , cursive;
// $CaneletterScript   : 'CaneletterScript'  , cursive;
// $EchinosParkScript  : 'EchinosParkScript' , cursive;
// $Finition           : 'Finition'          , cursive;
// $HaydonBrush        : 'HaydonBrush'       , cursive;
// $Krinkes            : 'Krinkes'           , cursive;
// $Lakesight          : 'Lakesight'         , cursive;
// $Mochary            : 'Mochary'           , cursive;
// $MotionPicture      : 'MotionPicture'     , cursive;
// $Painter            : 'Painter'           , cursive;
// $Plicata            : 'Plicata'           , cursive;
// $QaskinBlack        : 'QaskinBlack'       , cursive;
// $QaskinWhite        : 'QaskinWhite'       , cursive;
// $QinchoScript       : 'QinchoScript'      , cursive;
// $Ristella           : 'Ristella'          , cursive;
// $SafirScript        : 'SafirScript'       , cursive;
// $ThirstyScript      : 'ThirstyScript'     , cursive;
// $Ventography        : 'Ventography'       , cursive;

$black:          #000000;
$light-grey:     #9B9B9B;
$grey:           #4A4A4A;
$dark-grey:      #979797;
$peach:          #EFC4B2;
$mint:           #C7EDDE;
$earth:          #A7988B;
$blue :          #5EAFDE;

$color1 : #F2F0F4;
$color2 : #E9E8E6;
$color3 : #F9F8F6;
$color4 : #FDFBE1;
$color5 : #FDF5E1;
$color6 : #FEF6E0;

$color7 : #FAEEEC;
$color8 : #F2E7E1;
$color9 : #F2EFE7;
$color10: #F2F0F4;
$color11: #FCF7EA;
$color12: #FEF5DC;

$color13 : #FFF8DB;
$color14 : #FFF8DB;
$color15 : #EFE4B9;
$color16 : #BEB280;
$color17 : #DCCD84;
$color18 : #F1DF88;

$color19 : #E9D191;
$color20 : #E9D574;
$color21 : #E0BD55;
$color22 : #DEBA59;
$color23 : #DCBA6B;
$color24 : #DBB067;

$color25 : #C19A55;
$color26 : #B58D54;
$color27 : #936038;
$color28 : #844E34;
$color29 : #6F4428;
$color30 : #48220F;

$color31 : #5B2A1B;
$color32 : #562B1C;
$color33 : #4E2C24;
$color34 : #391D14;
$color35 : #2B2125;
$color36 : #191A29;

$eye-color1 : #90E9E6;
$eye-color2 : #429BBC;
$eye-color3 : #42C2B7;
$eye-color4 : #8F914E;
$eye-color5 : #A08400;
$eye-color6 : #C87A00;
$eye-color7 : #54382D;
