/* HTML */

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@mixin height($size1, $size2, $size3, $size4){
  @media screen and (min-width: 0px   ) { height: $size1;}
  @media screen and (min-width: 768px ) { height: $size2;}
  @media screen and (min-width: 1024px) { height: $size3;}
  @media screen and (min-width: 1440px) { height: $size4;}
  }
@mixin width($size1, $size2, $size3, $size4){
  @media screen and (min-width: 0px   ) { width: $size1;}
  @media screen and (min-width: 768px ) { width: $size2;}
  @media screen and (min-width: 1024px) { width: $size3;}
  @media screen and (min-width: 1440px) { width: $size4;}
}

/* Fonts */

$SourceSansPro : 'Source Sans Pro', sans-serif;
$Lato          : 'Lato'           , sans-serif;
$Raleway       : 'Raleway'        , sans-serif;
$Dosis         : 'Dosis'          , sans-serif;
$Abel          : 'Abel'           , sans-serif;
$Harmattan     : 'Harmattan'      , sans-serif;
$Futura        : 'Futura'         , sans-serif;
$Buffalo       : 'Buffalo'        , sans-serif;
$Adam          : 'Adam'           , sans-serif;
$HelveticaNeue : 'HelveticaNeue'  , sans-serif;
$Zona          : 'Zona Pro'       , sans-serif;
$IndieFlower   : 'Indie Flower'   , cursive;
$AmaticSC      : 'Amatic SC'      , cursive;
$Pacifico      : 'Pacifico'       , cursive;
$Yellowtail    : 'Yellowtail'     , cursive;

/* Colors */
$seashell      : #FFF5EE;
$redpink       : #FF6666;
$mud           : #E0AC69;
$foundation    : #EEC1AD;
$darkpink      : #C98276;

/* Header */

$header-font: $Zona;

#navigation{
    top: 0;
    left: 0;
    width: 100%;
    min-height: 80px;
    padding: 25px 30px 0px 30px;
    font-family: $header-font;
    .header-side{
        font-size: 22px;
        padding: 40px 140px 40px 140px;
        #left {
            float: left;
        }
        #right {
            float: right;
        }
        #center {
            left: 50%;
        }
    }
    .header-logo {
        font-size: 37px;
        text-align: center;
    }
}

.header-side:hover {
    color: $redpink;
}

/* Content Container */

#content-container > div {
    min-height: 450px;
}

#content-container {
    overflow: hidden;
    width: 100%;
    padding: 15px 10px 15px 10px;
    background-image: url('../../images/browse/background1.png');
}

/* Side Bar */

$sidebar-font: $Futura;

#side-bar {
    float: left;
    width: 150px;
    margin: 50px 0 0 130px;
    font-family: $sidebar-font;
    // padding: 50px 0 0 140px;
    #category-list {
        margin: 0 0 175px 0;
        text-align: left;
        .product-category {
            font-size: 17px;
            padding: 2px 2px 2px 0;
        }
    }
    .product-category:hover {
        color: $mud;
    }
    #designer-list {
        margin: 0 0 0 20px;
        text-align: left;
        .designer-name {
            font-size: 15px;
            padding: 1px 1px 1px 1px;
        }
    }
    .designer-name:hover {
        color: $foundation;
    }
    #designer-text {
        text-align: left;
        font-size: 17px;
        padding: 0px 0px 10px 0;
        margin: 0;
    }
}

/* Products */

$products-font: $Futura;

#product-page {
    overflow: hidden;
    float: right;
    width: 70%;
    font-family: $products-font;
    .product {
        overflow: hidden;
        .product-img {
            float: left;
            width: 65%;
        }
        .product-title {
            float: left;
            font-size: 23px;
        }
        .product-designer {
            float: left;
            font-size: 20px;
        }
    }

}

.product-img img {
    @include width( 80px, 240px, 350px, 490px);
    @include height( 110px, 340px, 490px, 690px);
    margin-left: 70px;
}


