/* Variables */
$charcoal: #364958;
$blue: #5FB3DD;
$dark-blue: #427E9C;
$light-blue: #8CCAE8;

.signup {
	width: 30%;
	height: 25em;
	color: white;
	background-color: rgba(200, 200, 200, 0.7);
	text-align: center;
	position: absolute;
	left: 35em;
	top: 15em;

	h3{
		color: #CFD8DC;
	}
}


