<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../styles/browse.css">
</head>
<body>
	<div id='header'>
        <div id='navigation'>
			<div id='left' class='header-side'> Pre-season Collection </div>
			<div class='header-logo'> émotif </div>
			<div id='right' class='header-side'> Closet </div>
        </div>
	</div>

	<div id='side-bar'>
		<div id='filter'>
			<div class='filter-item' id='filter1' class='selected'> tops </div>
			<div class='filter-item' id='filter2'> bottoms </div>
			<div class='filter-item' id='filter3'> dresses </div>
	</div>

	<div id='designer-list'> Designers
		<div class='designer-name'> Jaewoo Song </div>
		<div class='designer-name'> Kathleen Lee </div>
		<div class='designer-name'> Coco Chanel </div>
		<div class='designer-name'> Karl Lagerfeld </div>
	</div>
	</div>

	<section id= "product-view">
		<div class = "product-box">
			<div class = "box">
				<img src = "../../../images/browse/red-dress.jpg">
				<h3> Red Dress </h3>
				<p> Karl Lagerfeld </p>
			</div>
			<div class = "box">
				<img src = "../../../images/browse/red-dress.jpg">
				<h3> Cover 1  </h3>
				<p> Karl Lagerfeld </p>
			</div>
			<div class = "box">
				<img src = "../../../images/browse/red-dress.jpg">
				<h3> Cover2 </h3>
				<p> Karl Lagerfeld</p>
			</div>
			<div class = "box">
				<img src = "../../../images/browse/red-dress.jpg">
				<h3> Cover3 </h3>
				<p> Karl Lagerfeld</p>
			</div>
		</div>
    </section>

</body>

</html>
